{% extends "site_base.html" %} {% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Some Site Dashboard</h1>
  <div class="row">
    <div class="col-sm-6">
      <h2>Site Stats</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Machines Seen</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Messages Logged</td>
              <td>9000</td>
            </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- syslog block -->
    <div class="col-sm-6">
      <h2>High-Priority Syslog Entries</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Timestamp</th>
              <th>Program</th>
              <th>Priority</th>
              <th>Host</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>dolor</td>
              <td>sit</td>
            </tr>
            <tr>
              <td>1,002</td>
              <td>amet</td>
              <td>consectetur</td>
              <td>adipiscing</td>
              <td>elit</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>Integer</td>
              <td>nec</td>
              <td>odio</td>
              <td>Praesent</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>libero</td>
              <td>Sed</td>
              <td>cursus</td>
              <td>ante</td>
            </tr>
            <tr>
              <td>1,004</td>
              <td>dapibus</td>
              <td>diam</td>
              <td>Sed</td>
              <td>nisi</td>
            </tr>
            <tr>
              <td>1,005</td>
              <td>Nulla</td>
              <td>quis</td>
              <td>sem</td>
              <td>at</td>
            </tr>
            <tr>
              <td>1,006</td>
              <td>nibh</td>
              <td>elementum</td>
              <td>imperdiet</td>
              <td>Duis</td>
            </tr>
            <tr>
              <td>1,007</td>
              <td>sagittis</td>
              <td>ipsum</td>
              <td>Praesent</td>
              <td>mauris</td>
            </tr>
            <tr>
              <td>1,008</td>
              <td>Fusce</td>
              <td>nec</td>
              <td>tellus</td>
              <td>sed</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- nmap block -->
    <div class="col-sm-6">
      <h2>NMAP System Scan Results</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>IP Address</th>
              <th>MAC Address</th>
              <th>Operating System</th>
              <th>Classification</th>
              <th>Last Seen</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                192.168.2.2
              </td>
              <td>AA:BB:CC:DD:EE:FF</td>
              <td>Linux 3.x</td>
              <td>Desktop</td>
              <td>Now</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}