{% extends "base.html" %}
{% block localnav %}

{% set site_navigation_bar = [
    ( url_for('site_overview', site_id=site_id), 'overview', 'Site Overview'),
    ( url_for('site_nmap', site_id=site_id), 'nmap', 'Network Scans'),
    ( url_for('site_syslog', site_id=site_id), 'logs', 'Logs'),
    ( '/nonexist', 'snort_traffic', 'SNORT Traffic Reports'),
    ( '/nonexist', 'alerts', 'Alerts')
] -%}

{% set active_page = active_page|default('overview') -%}

<ul class="nav nav-sidebar">
     {% for href, id, caption in site_navigation_bar %}
     <li{% if id == active_page %} class="active"{% endif%}><a href="{{ href|e }}">{{ caption|e }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
