<div class="col-sm-6">
    <h2>Alerts And Notifications</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Raised</th>
                </tr>
                <tbody>
                    <tr>
                        <td>SNORT Notification</td>
                        <td>Today</td>
                    </tr>
        </table>
        </thead>
        </table>
    </div>
</div>
