<!-- nmap block -->
<div class="col-sm-6">
    <h2>NMAP System Scan Results</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>IP Address</th>
                    <th>MAC Address</th>
                    <th>Operating System</th>
                    <th>Classification</th>
                    <th>Last Seen</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        192.168.2.2
                    </td>
                    <td>AA:BB:CC:DD:EE:FF</td>
                    <td>Linux 3.x</td>
                    <td>Desktop</td>
                    <td>Now</td>
                </tr>
                <tr>
                    <td>
                        192.168.2.2
                    </td>
                    <td>AA:BB:CC:DD:EE:FF</td>
                    <td>Linux 3.x</td>
                    <td>Desktop</td>
                    <td>Now</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>