<div class="row">
    <h2>Recorders In Site</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Hostname</th>
                    <th>Software Revision</th>
                    <th>Hardware Revision</th>
                    <th>Last Seen</th>
                    <th>Uptime</th>
                </tr>
                <tbody>
                    {% for recorder in recorders %}
                    <tr>
                        <td>{{ recorder.human_name }}</td>
                        <td>{{ recorder.hostname }}</td>
                        <td>Unknown</td>
                        <td>Unknown</td>
                        <td>Unknown</td>
                        <td>Unknown</td>
                    </tr>
                    {% endfor %}
        </table>
        </thead>
    </div>
</div>