<div class="col-sm-6">
    <h2>Site Stats</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Machines Seen</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Messages Logged</td>
                    <td>9000</td>
                </tr>
                <tr>
                    <td>Outbound Traffic</td>
                    <td>812 Mib</td>
                </tr>
                <tr>
                    <td>Inbound Traffic</td>
                    <td>10 GiB</td>
                </tr>
        </table>
    </div>
</div>